.content-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 100px;
}

.content-with-image.reverse {
    flex-direction: row-reverse;
}

.text-content {
    display: flex;
    width: 50%;
    flex-direction: column;

}

.image-content {
    width: 50%;
    display: flex;
    align-items: center;
}

.image-content img {
    width: 80%;
    height: auto;
}

.button {
    margin-top: 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
}

p {
    margin-bottom: 20px;
}

/* Media query for screens smaller than 1280px (typically tablets/mobile) */
@media (max-width: 1280px) {
    .content-with-image {
        flex-direction: column;
        height: auto; /* Allow height to adjust based on content */
        padding: 80px 50px; /* Adjust padding */
    }

    .content-with-image.reverse {
        flex-direction: column; /* Reverse not needed since all are stacked */
    }

    .text-content, .image-content {
        width: 100%;
    }

    .image-content {
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .image-content img {
        width: 100%; /* Make the image responsive */
        height: auto;
    }
}
