---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
---

<section>
    <h2>Kontakt</h2>
    <div class="container">
        <div class="contact-section">
            <div class="icon-container">
                <Icon name="mdi:email-outline" />
            </div>
            <div class="contact-details">
                <p class="strong">Email</p>
                <p>
                    <a class="description" href="kontakt@happybrainandbody.com"
                        >kontakt@happybrainandbody.com</a
                    >
                </p>
            </div>
        </div>
        <div class="contact-section">
            <div class="icon-container">
                <Icon name="mdi:phone-outline" />
            </div>
            <div class="contact-details">
                <p class="strong">Telefon</p>
                <p>
                    <a class="description" href="tel:+4799797136"
                        >+47 99797136</a
                    >
                </p>
            </div>
        </div>
        <div class="contact-section">
            <div class="icon-container">
                <Icon name="mdi:map-marker-outline" />
            </div>
            <div class="contact-details">
                <p class="strong">Kontor</p>
                <p>
                    <a
                        class="description"
                        target="_blank"
                        href="https://www.google.com/maps/place/Korsvoll+Terrasse+1B,+0881+Oslo/@59.9617355,10.7607864,17z/data=!3m1!4b1!4m6!3m5!1s0x464171e334986e47:0xd49a34f3aeb5e59!8m2!3d59.9617328!4d10.7633613!16s%2Fg%2F11c130xpyc?entry=ttu"
                        >Korsvoll terrasse 1 B, 0881 Oslo, Norway</a
                    >
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 200px;
    }

    .container {
        display: flex;
    }

    .contact-section {
        display: flex;
        flex: 1;
    }

    .contact-section:nth-child(2) {
        justify-content: center;
    }

    .contact-section:nth-child(3) {
        justify-content: right;
    }

    .strong {
        font-weight: bold;
    }

    .description {
        color: black;
    }

    [data-icon] {
        font-size: 30px;
        margin: 12px 10px 0px 0px;
    }

    @media (max-width: 900px) {
        .container {
            flex-direction: column;
        }

        .contact-section:nth-child(2),
        .contact-section:nth-child(3) {
            justify-content: left;
        }
    }
</style>
