<footer class="footer">
    <div class="parent_footer">
        <div class="child">
            <p class="copyright">
                Copyright © Med enerett.<br />happybrainandbody.com og
                happybrainandbody.no<br />M Vevelstad<br />Org.nr. 929 609 980
            </p>
        </div>
    </div>
</footer>

<style>
    .footer {
        margin-top: 100px;
        background-color: #5daad7;
        width: 100%;
    }

    .parent_footer {
        display: flex;
    }

    .child {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .copyright {
        color: #ffff;
        text-align: center;
    }
</style>
