---
const { button1Link, button2Link } = Astro.props;
---

<div class="container">
    <div class="overlay">
        <div class="text-container">
            <p><strong>FORNØYD HJERNE OG KROPP</strong></p>
            <h2>Hvordan hjelpe deg selv</h2>
            <p>
                Strever du? Føler deg kronisk feil, redd, avvist, utenfor? Indre
                smerte? Kanskje føler du deg syk? Eller flat? Jakter på
                løsninger? Ingen som skjønner? Been there!
            </p>
            <p>
                Jeg er lege og EQ-terapeut, som tilbyr foredrag, EQ-terapi, og
                skriver selvhjelpsboka jeg skulle ønske fantes da jeg var ung.
                Utad «flink og vellykket», men inni føltes det vondt og
                skamfullt å være meg. Gjennom tre års EQ-terapistudier lærte jeg
                noe viktig, som verken medisinstudiet, legespesialisering,
                doktorgrad, 31 års legeekspertise, eller min livserfaring kunne
                hjelpe for. Noe som ga et astronomisk løft i min livskvalitet,
                evne til selvhjelp, og legekompetanse. Dette ønsker jeg å lære
                videre.
            </p>
            <p>
                Jeg er spesialist i klinisk farmakologi (rus- og legemidler) og
                jobber til daglig ved Oslo universitetssykehus som overlege,
                rettstoksikolog (rus- og forgiftningsekspert for rettssystemet)
                og forsker.
            </p>
        </div>
        <div class="button-container">
            <a href={button1Link}><button>Foredrag</button></a>
            <a href={button2Link}><button>EQ-terapi</button></a>
        </div>
    </div>
</div>

<style>
    .container {
        margin: 0;
        background-image: url("../assets/images/background.jpg");
        height: 100vh;
        width: 100vw;
        background-position: 0% 15%;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 10000px inset;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .overlay {
        color: white;
        width: 60%;
        height: 80%;
        margin: 0px 0px 0px 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .button-container button:nth-child(2) {
        margin-left: 20px;
    }

    p {
        font-size: 15pt;
    }

    h2 {
        font-size: 50pt;
    }

    button {
        background-color: #5daad7;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15pt;
    }

    button:hover {
        cursor: pointer;
        background-color: #5daad7b7;
    }
</style>
