---



---

<nav class="navbar-container">
        <h2 class="title">happybrainandbody.com</h2>
            <div class="navbar-items">
                <ul class="navbar-links">
                    <li><a href="">Kontakt</a></li>
                    <li><a href="">Hva er EQ?</a></li>
                    <li><a href="">Publikasjonsliste</a></li>
                    <li><a href="">Bok</a></li>
                </ul>
            </div>
</nav>

<style>
    .navbar-container {
        background-color: var(--primary-accent);
    }
    .title {
        color: var(--secondary-accent);
        position: relative;
        left: 2rem;
    }
    li {
        list-style-type: none;
    }
    li a {
        color: white;
        text-decoration: none;
    }
    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
    }
    .navbar-links {
        display: flex;
        gap: 1rem;

    }
    .navbar-items {
        position: relative;
        left: 25rem;
    }

</style>