---

---

<nav class="navbar-container">
        <h2 class="title">happybrainandbody.com</h2>
            <div class="navbar-items">
                <ul class="navbar-links">
                    <li><button class="button-no-style-nav">Kontakt</button></li>
                    <li><button class="button-no-style-nav">Hva er EQ?</button></li>
                    <li><a href="https://www.ous-research.no/home/rgda/Group+members/20105" target="_blank" >Publikasjonsliste</a></li>
                    <li><button class="button-no-style-nav">Bok</button></li>
                </ul>
                <div class="button-nav">
                    <button class="foredrag navbar-button">
                        Foredrag
                    </button>
                    <button class="eq-terapi navbar-button">
                        EQ-terapi
                    </button>
                </div>
            </div>
</nav>

<script>


</script>

<style>
    .navbar-container {
        background-color: var(--primary-accent);
        width: 100%;
    }
    .title {
        color: var(--secondary-accent);
        position: relative;
        left: 2rem;
    }
    li {
        list-style-type: none;
    }
    li a {
        color: var(--secondary-accent);
        text-decoration: none;
    }

    li a:hover {
        color: var(--third-accent);
        text-decoration: underline;
    }
    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
    }
    .navbar-links {
        display: flex;
        gap: 4rem;

    }
    .navbar-items {
        display: flex;
        position: relative;
        left: 25rem;
        gap: 3rem;

    }
    .button-no-style-nav {
        background: none;
        color: var(--secondary-accent);
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .button-no-style-nav:hover {
        color: var(--third-accent);
    }
    .button-nav {
        display: flex;
        gap: 1rem;
    }
    .navbar-button {
        border: var(--secondary-accent) solid 1px;
        background-color: var(--primary-accent);
        padding: 1rem;
        color: var(--secondary-accent);
        transition: transform 0.1s ease, box-shadow 0.1s ease;
    }
    .navbar-button:hover {
        background-color: var(--primary-accent);
        filter: brightness(80%);
        cursor: pointer;

    }
    .navbar-button:active {
        filter: brightness(70%);
        transform: translateY(2px);
        box-shadow: 0 0 1px var(--secondary-accent);

    }

</style>