---

---

<nav class="navbar-container">
        <h2 class="title">happybrainandbody.com</h2>
            <div class="navbar-items">
                <ul class="navbar-links">
                    <li><a href="">Kontakt</a></li>
                    <li><a href="">Hva er EQ?</a></li>
                    <li><a href="">Publikasjonsliste</a></li>
                    <li><a href="">Bok</a></li>
                </ul>
                <div class="button-nav">
                    <button class="foredrag navbar-button">
                        Foredrag
                    </button>
                    <button class="eq-terapi navbar-button">
                        EQ-terapi
                    </button>
                </div>
            </div>
</nav>

<script>
    /*
    Eksempel kode, vet ikke helt hva denne knappen skal gjøre
    const foredragButton = document.querySelector('.foredrag');
    if (foredragButton !== null) {
        foredragButton.addEventListener('click', () => {
            window.location.href = "https://www.vg.no"
        });
    }

*/
</script>

<style>
    .navbar-container {
        background-color: var(--primary-accent);
    }
    .title {
        color: var(--secondary-accent);
        position: relative;
        left: 2rem;
    }
    li {
        list-style-type: none;
    }
    li a {
        color: white;
        text-decoration: none;
    }
    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
    }
    .navbar-links {
        display: flex;
        gap: 1rem;

    }
    .navbar-items {
        display: flex;
        position: relative;
        left: 25rem;
        gap: 2rem;

    }
    .button-nav {
        display: flex;
        gap: 1rem;
    }
    .navbar-button {
        border: var(--secondary-accent) solid 1px;
        background-color: var(--primary-accent);
        padding: 1rem;
        color: var(--secondary-accent);
        transition: transform 0.1s ease, box-shadow 0.1s ease;
    }
    .navbar-button:hover {
        background-color: var(--primary-accent);
        filter: brightness(80%);
        cursor: pointer;

    }
    .navbar-button:active {
        filter: brightness(70%);
        transform: translateY(2px);
        box-shadow: 0 0 1px var(--secondary-accent);

    }

</style>