@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  overflow-x: hidden;
}
.header {
  @apply text-4xl md:text-3xl lg:text-2xl xl:text-xl 2xl:text-lg;
}

.sub-header {
  @apply text-lg md:text-lg lg:text-xl xl:text-lg 2xl:text-md;
}

.text {
  @apply text-2xl md:text-xl lg:text-lg xl:text-lg 2xl:text-base leading-relaxed;
}
